@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root /* set a variable we can use latter */ {
  --navbar-foot-color: #006d77;
  --writing-color: #edf6f9;
}

img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Root Stuff */
body {
  font-family: "Lato";
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container {
  max-width: 1440px;
  height: 100%;
  padding: 0 40px;
  overflow: auto;
  margin: 0 auto;
}

.card {
  background-color: #006d77;
  color: fff;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: #e29578;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  line-height: 1.2;
  font-weight: 400;
}

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

p {
  margin: 5px 0;
}

section {
  padding: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--writing-color);
  color: black;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.02);
}

/* Navbar */
.navbar {
  background-color: #006d77;
  color: #edf6f9;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar a {
  padding: 10px;
  margin: 0 10px;
  color: #edf6f9;
}

a:hover {
  border-bottom: 3px solid #edf6f9;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar .logo-img {
  width: auto;
  height: 50px;
  margin: 0 10px;
}

/* Login Page */
.styled-input {
  display: inline;
  border: none;
  padding: 5px;
  border-radius: 8px;
  height: 100%;
  margin: 0 5px;
}

/* Signup Page */
.user-form {
  height: 900px;
}

.user-form {
  padding: 0px;
}

body {
  background-color: #edf6f9;
}

.user-form form {
  width: 100%;
}

.user-form .card {
  width: 550px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.user-form .form-control {
  margin-bottom: 25px;
}

.user-form input {
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 8px;
}

.user-form input[type="submit"] {
  display: block;
  margin: 20px auto;
  width: 30%;
}

.user-form input:hover {
  transform: scale(1.06);
}

.user-form input:focus {
  transform: scale(1);
  outline: none;
}

.user-form h3 {
  margin: 5px 0;
}

/* Questions */

.questions {
  height: 720px;
}

.questions .card .avatar {
  margin: 0;
}

.questions .profile {
  flex-direction: column;
}

.question-div .card {
  margin-bottom: 25px;
}

.questions .avatar img {
  width: 220px;
  height: auto;
  margin: 10px 0;
  border: 3px solid white;
  border-radius: 120px;
  padding: 15px;
}

.questions .avatar p {
  line-height: 1.5;
}
.questions input[type="select"] {
  border: none;
  padding: 10px;
}

.questions .grid {
  grid-template-columns: 2.5fr 1fr;
  align-items: center;
}

.questions input {
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 8px;
}

.questions input[type="submit"] {
  display: block;
  margin: 20px auto;
  width: 30%;
}

.questions select {
  margin: 10 8px;
}

.questions input:hover {
  transform: scale(1.06);
}


/* Home page */

.missioninfo {
  background-color: #C4C4C4;
  height: 500px;
}

/* Carousel */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


/* Footer */

.footer {
  background-color: #006d77;
  color: #edf6f9;
  height: 340px;
}

.footer .grid-3 {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.footer a {
  text-decoration: none;
  color: #edf6f9;
  padding: 10px;
}

.footer ul {
  list-style-type: none;
}

.footer .social a {
  align-content: center;
  padding: 12px;
}

.footer nav {
  margin: auto 150px;
  padding: 15px 4px;
}

.footer li {
  padding: 10px;
  margin: 10px 10px;
}

.footer h1, .footer p {
  margin: 50px 100px;
  padding: 15px auto;
}

.footer h1 {
  font-size: 3rem;
}

.footer .social a {
  transition-delay:0.3s
}