@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap'); 
/* Bold */

:root /* set a variable we can use latter */ {
  --navbar-foot-color: #006d77;
  --writing-color: #edf6f9;
}

img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Root Stuff */
body {
  font-family: "Lato";
}


body select, input[type="week"]{
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-family: "Lato";
  font-weight: 900;
  margin: 0 auto;
  background-color: #006d77;
  padding: 10px 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container {
  max-width: 1440px;
  height: 100%;
  padding: 0 40px;
  overflow: auto;
  margin: 0 auto;
}

.card {
  background-color: #006d77;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin: 10px;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: #e29578;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  line-height: 1.2;
  font-weight: 500;
  font-family: "Lato";
}

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

p {
  margin: 5px 0;
}

section {
  padding: 40px
}


.my-1 {
  margin: 0.8rem;
}

.my-2 {
  margin: 1.5rem;
}

.my-3 {
  margin: 2rem;
}


.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}


.btn {
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: 600;
  margin: 0 auto;
  background-color: #FFA62B;
  padding: 12px 20px;
  width: 15%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

input {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.btn:hover {
  transform: scale(1.02);
}

/* Navbar */
.navbar {
  background-color: #006d77;
  color: #edf6f9;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar a {
  padding: 10px;
  margin: 0 10px;
  color: #edf6f9;
}

a:hover {
  border-bottom: 3px solid #edf6f9;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar .logo-img {
  width: auto;
  height: 50px;
  margin: 0 10px;
}

/* Login Page */
.styled-input {
  display: inline;
  border: none;
  padding: 5px;
  border-radius: 8px;
  height: 100%;
  margin: 0 5px;
}

/* Signup Page */
.user-form {
  height: 900px;
}

.signup-form {
  height: 950px;
}

.user-form {
  padding: 0px;
}

body {
  background-color: #edf6f9;
}

.user-form form {
  width: 100%;
}

.user-form .card {
  width: 550px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.user-form .form-control {
  margin-bottom: 25px;
}

.user-form input {
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 8px;
}

.user-form input[type="submit"] {
  display: block;
  margin: 20px auto;
  width: 30%;
}

.user-form input:hover {
  transform: scale(1.06);
}

.user-form input:focus {
  transform: scale(1);
  outline: none;
}

.user-form h3 {
  margin: 5px 0;
}

/* Questions */

.questions .grid .card {
  color: rgb(83, 83, 83);
  background-color: #edf6f9;
}

.questions .card .avatar {
  margin: 0;
}

.questions .profile {
  flex-direction: column;
}

.question-div .card {
  margin-bottom: 25px;
}

.questions .avatar img {
  width: 220px;
  height: auto;
  margin: 10px 0;
  border: 3px solid black;
  border-radius: 120px;
  padding: 15px;
}

.questions .avatar p {
  line-height: 1.5;
}
.questions input[type="select"] {
  border: none;
  padding: 10px;
}

.questions .grid {
  grid-template-columns: 2.5fr 1fr;
}

.questions input {
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 8px;
}

.questions input[type="submit"] {
  display: block;
  margin: 20px auto;
  width: 30%;
}

.questions select {
  margin: 10 8px;
}

.questions input:hover {
  transform: scale(1.06);
}

/* Home page */

.missioninfo {
  background-color: #EDF6F9;
  height: 200px;
  padding-bottom: 0px;
}

.missioninfo .container {
  background-color: #C4C4C4;
  align-items: center;
  justify-content: center;
}

.missioninfo h1 {
  text-align: center;
  margin: auto;
  font-weight: 500;
}

.image-facts {
  padding-top: 0px;
}

.image-facts .grid {
  grid-column-gap: 10px;
}

.image-facts .grid img {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  margin: 10px;
}

.image-facts .container {
  max-width: 1550px;
  height: 450px;
  padding: 0 40px;
  padding-top: 50px;
  overflow: auto;
  margin: 0 auto;
}

.image-facts .grid .flex-col {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-col {
  flex-direction: column;
  justify-content: center;
}

.image-facts ul {
  list-style-position: inside;
}

.image-facts li {
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.feedback-cards .grid {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.feedback-cards .container {
  height: 600px;
}

.feedback-cards .card {
  background-color: #edf6f9;
  color: black;
}

.feedback-cards .card-lateral {
  background-color: #edf6f9;
  color: black;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin: 10px;
  height: 520px;
}

.feedback-cards .container .grid {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  grid-template-columns: repeat(1fr, 3);
}


.bottom {
  height: 500px;
  
}

.bottom .grid {
  display: grid;
  grid-column-gap: 40px;
  align-items: center;
  height: 100%;
  width: 100%;
}

.bottom .grid .get-started {
  text-align: center;
}


.bottom .btn {
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  font-size: 2rem;
  font-family: "Lato";
  font-weight: 800;
  background-color: #83C5BE;
  padding: 12px 20px;
  width: 50%;
  margin-top: 30px;
}

.bottom .get-started h1{
  margin: 40px auto;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* Trips Page */
.trip-section {
  padding: 80px;
  overflow: auto;
}

.trip-section .container {
  height: auto;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.5fr;
  grid-gap: 10px;
}



.main-grid .card {
  color: rgb(83, 83, 83);
  background-color: #edf6f9;
}

.answer input,
.answer select {
  margin: 0 10px;
} 

.trip-section .user-form {
  height: max-content;
}

.trip-questions .card {
  padding: 20px;
}

.profile {
  margin-top: 0.6rem;
}

.results-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 30px;
  gap: 10px;
}


.trip-section .btn:hover {
  transform: scale(1.06);
}

.trip-section .btn {
  color: #fff;
  font-size: 1.3rem;
  font-family: "Lato";
  font-weight: 600;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #FFA62B;
  padding: 15px 25px;
  width: 15%;
}

.result img {
  height: 100%;
  width: auto;
}

.result img {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

.card i {
  margin: 3px 5px;
}

@keyframes slidein {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}

.result {
  padding: 15px 25px;
  overflow: hidden;
}

/* Footer */

.footer {
  background-color: #006d77;
  color: #edf6f9;
  height: 340px;
}

.footer .grid-3 {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.footer a {
  text-decoration: none;
  color: #edf6f9;
  padding: 10px;
}

.footer ul {
  list-style-type: none;
}

.footer .social a {
  align-content: center;
  padding: 12px;
}

.footer nav {
  margin: 0 auto;
  padding: 15px 4px;
}

.footer li {
  padding: 10px;
  margin: 10px 10px;
}

.footer h1,
.footer p {
  margin: 50px 100px;
  padding: 15px auto;
}

.footer h1 {
  font-size: 3rem;
}

.footer .social a {
  transition-delay: 0.3s;
}
