{% extends "base.html" %} {% block title %} Home {% endblock title %} {% block
content %}

<section class="missioninfo">
  <div class="container flex">
    <h1 class="md">
      A valuable and accessible platform where college students from New York
      State can volunteer or find volunteers among their fellow students to
      share a car ride to a common destination!
    </h1>
  </div>
</section>

<section class="image-facts">
  <div class="container grid">
    <div class="people-img flex">
      <img src="../static/images/car-pol1.jpeg" alt="" />
    </div>
    <div class="flex-col p-2">
      <h1 class="md my-2">
        The best ridesharing platform for college students in NY
      </h1>
      <ul>
        <li>
          Caters to <strong>400+ colleges and universities</strong> in New York
          State
        </li>
        <li>
          Easy to use, simple interface for <strong>quick trip planning</strong>
        </li>
        <li>
          Innovative <strong>"Trip Finder"</strong> features that easily connect
          compatible matches
        </li>
        <li>Caters to <strong>60+ cities</strong> in the state</li>
      </ul>
    </div>
  </div>
</section>

<section class="feedback-cards">
  <div class="container grid">
    <div class="card-lateral grid flex p-3">
      <img class="avatar" src="../static/images/guy1.jpeg" alt="" />
      <p>
        <i class="fas fa-quote-left"></i>Collride has saved my precious time on
        multiple occacions! I definitely prefer using Collride and matching with
        a new friend instead of buying expensive plain/train/bus tickets to get
        to my needed destination. In the future, I hope to buy my own car and
        help other students just like how they helped me. Thank you Collride!"
      </p>
      <div class="text">
        <p>-Bjourn</p>
        <i>Sophomore at Binghampton University</i>
      </div>
    </div>
    <div class="card grid flex p-3">
      <img class="avatar" src="../static/images/girl1.png" alt="" />
      <p>
        <i class="fas fa-quote-left"></i>Collride has saved my precious time on
        multiple occacions! I definitely prefer using Collride and matching with
        a new friend instead of buying expensive plain/train/bus tickets to get
        to my needed destination. In the future, I hope to buy my own car and
        help other students just like how they helped me. Thank you Collride!"
      </p>
      <div class="text">
        <p>-Ionela</p>
        <i>Junior at SUNY Albany</i>
      </div>
    </div>
    <div class="card-lateral grid flex p-3">
      <img class="avatar" src="../static/images/guy2.jpeg" alt="" />
      <p>
        <i class="fas fa-quote-left"></i>Collride has saved my precious time on
        multiple occacions! I definitely prefer using Collride and matching with
        a new friend instead of buying expensive plain/train/bus tickets to get
        to my needed destination. In the future, I hope to buy my own car and
        help other students just like how they helped me. Thank you Collride!"
      </p>
      <div class="text">
        <p>-Nader</p>
        <i>Freshamn at Stony Brook University</i>
      </div>
    </div>
  </div>
</section>

<section class="bottom">
  <div class="container">
    <div class="grid">
      <div class="get-started flex-col">
        <h1 class="lg">What are you waiting for?</h1>
        <h1>Sign up today to begin ridesharing!</h1>
        <a aria-current="page" href="/signup"
          ><input class="btn" type="submit" value="Get Started"
        /></a>
      </div>
      <div class="flex" style="justify-content: center">
        <img src="../static/images/mockup.png" alt="" />
      </div>
    </div>
  </div>
</section>

{% endblock content %}
