{% extends "base.html" %}


{% block title %}
  Home
{% endblock title %}


{% block content %}
  
<section class="missioninfo">
    <div class="container">
        

        
    </div>
</section>

<section class="image-facts">
  <div class="container">
    <div class="grid flex">
      <img src="../static/images/car-pol1.jpeg" alt="" />
      <p>
        sdfndfklsdnfwefnwkelfnewlkfnwfel
        dssds
        dssds
        sdfndfklsdnfwefnwkelfnewlkfnwfelsd
        ds
      </p>
    </div>
  </div>
</section>

<section class="feedback-cards my-2">
  <div class="container grid">
      <div class="card-lateral grid flex">
        <i class="fas fa-user-tie fa-3x"></i>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique at culpa optio incidunt saepe assumenda enim porro eligendi reprehenderit maiores alias provident, quis animi tempora officia iste beatae error dolor libero tempore. Ut facilis autem esse. Vel quis quod aspernatur iste recusandae, provident enim nihil optio nam necessitatibus maxime eveniet sequi hic facere aliquam! Impedit animi ullam nesciunt magni assumenda!
          </p>
        <p>Hello</p>
      </div>
      <div class="card grid flex">
        <i class="fas fa-user-tie fa-3x"></i>
          <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate laboriosam perferendis 
              provident suscipit doloribus dolor vel, molestiae quis, ab praesentium ipsum deleniti possimus! 
              Ducimus cum beatae necessitatibus quae distinctio earum natus veritatis voluptatibus qui quia 
              doloribus, ullam suscipit incidunt ex temporibus odit dolor. Nam minima impedit dolorem tenetur 
              tempora magnam autem adipisci! Quod corporis ullam necessitatibus nemo dolor! Illum, modi?
          </p>
        <p>Hello</p>
      </div>
      <div class="card-lateral grid flex">
        <i class="fas fa-user-tie fa-3x"></i>
          <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum maxime distinctio blanditiis cum! Aut assumenda provident facere accusamus voluptates voluptas fuga nemo laudantium architecto iure eius eligendi officiis repellendus aspernatur, molestias debitis nesciunt distinctio soluta ullam quas dolore exercitationem illum. Numquam dolore ut doloremque molestias nostrum facilis, a placeat repudiandae omnis id veniam dignissimos nihil eaque assumenda iure unde. Numquam tempore modi laborum, praesentium corrupti autem pariatur, expedita eaque eos molestias explicabo adipisci eveniet ducimus voluptatem necessitatibus repellendus reiciendis inventore!
          </p>
          <p>Hello</p>
      </div>
  </div>
</section>

<section class="bottom">
  <div class="container flex">
    <div class="grid flex">
      <p>fddsfdsdsf</p>
      <p>fdsfsdfds</p>
    </div>

  </div>


</section>







{% endblock content %}