{% extends "base.html" %} {% block title %} Login {% endblock title %} {% block
content %}

<section class="user-form">
  <div class="container flex">
    <div class="card">
      <h1 class="text-center">Login</h1>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="flashes flex my-1">
        <div class="card ls">
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %} {% endwith %}

      <form action="/login/" method="POST">
        <h3 for="username">Username</h3>
        <div class="form-control">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Please enter your username..."
            required
          />
        </div>

        <h3 for="password">Password</h3>
        <div class="form-control">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Please enter your password..."
            required
          />
        </div>
        <input class="btn" type="submit" value="Submit" />
      </form>
      <p class="text-center">
        Don't have an account? Sign up <a href="/signup">here!</a>
      </p>
    </div>
  </div>
</section>

{% endblock content %}
