{% extends "base.html" %} {% block title %} Login {% endblock title %} {% block
content %}

<div class="container">
    <form action="/login/" method="POST">
        <label for="username">Username:</label>
        <input
            type="text"
            name="username"
            id="username"
            placeholder="Please enter a username..."
        />
        <label for="password">Password</label>
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Please enter a password..."
        />
        <input type="submit" value="submit" />
    </form>
    <p>Don't have an account? Sign up <a href="/signup">here!</a></p>
</div>

{% endblock content %}
