{% extends "base.html" %} {% block title %} Trips {% endblock title %} {% block
content %}

<section class="trip-section">
  <div class="container">
    <div class="card main-card main-grid">
      <h1 class="text-center lg">Trip Finder</h1>
      <form action="/trips" method="POST">
        <div class="trip-questions grid">
          <div class="card">
            <h1>What date would you like to leave?</h1>
            <div class="answer flex">
              <h1>I would like to leave on</h1>
              <input type="date" name="date" id="date" />
            </div>
          </div>
          <div class="card">
            <h1>Where are you traveling from?</h1>
            <div class="answer flex">
              <h1>From</h1>
              <select name="start" id="start">
                <option value="{{ session['user']['college'] }}">
                  {{ session['user']['college'] }}
                </option>
                <option value="{{ session['user']['city'] }}">
                  {{ session['user']['city'] }}
                </option>
              </select>
              <h1>to</h1>
              <select name="end" id="end">
                <option value="{{ session['user']['city'] }}">
                  {{ session['user']['city'] }}
                </option>
                <option value="{{ session['user']['college'] }}">
                  {{ session['user']['college'] }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <input class="btn" type="submit" value="Submit" />
      </form>
      <h1 class="text-center md">Trips Found</h1>
      <div class="results-grid">
      {% if request.method == "POST" %}
        {% if similar_trips[0] == None %}
          <h1>No results found. Sorry!</h1>
        {% endif %}

        {% for trip in similar_trips %}
            {% if trip.get('car') %}
              <div class="card result">
                <h1><i class="fas fa-car"></i>   {{ trip.get("first_name").capitalize() }}'s Car</h1>
                <h1>{{ trip.get("start") }}  <i class="fas fa-arrow-circle-right"></i>  {{ trip.get("end") }}</h1>
                <h1>Leaving on {{ trip.get("date") }}</h1>
              </div>
            {% endif %}
        {% endfor %}
      {% else %}
          <h1 class="text-center my-2">Please submit the form above to see the results.</h1>
          <div class="card result" style="width: 30%; height: 100px"></div>
          <div class="card result" style="width: 60%; height: 100px"></div>
          <div class="card result" style="width: 100%; height: 100px"></div>
          <div class="card result" style="width: 70%; height: 100px"></div>
          <div class="card result" style="width: 90%; height: 100px"></div>
      {% endif %}

      </div>
    </div>
  </div>
</section>

{% endblock content %}
