{% extends "base.html" %} {% block title %} Trips {% endblock title %} {% block
content %}

<section class="trip-section">
  <div class="container">
    <div class="card main-card main-grid">
      <h1 class="text-center lg">Trip Finder</h1>
      <form action="/trips" method="POST">
        <div class="trip-questions grid">
          <div class="card">
            <h1>What date would you like to leave?</h1>
            <div class="answer flex">
              <h1>I would like to leave on</h1>
              <input type="week" name="date" id="date" required/>
            </div>
          </div>
          <div class="card">
            <h1>Where are you traveling from?</h1>
            <div class="answer flex">
              <h1>From</h1>
              <select name="start" id="start" required>
                <option value="{{ session['user']['college'] }}">
                  {{ session['user']['college'] }}
                </option>
                <option value="{{ session['user']['city'] }}">
                  {{ session['user']['city'] }}
                </option>
              </select>
              <h1>to</h1>
              <select name="end" id="end" required>
                <option value="{{ session['user']['city'] }}">
                  {{ session['user']['city'] }}
                </option>
                <option value="{{ session['user']['college'] }}">
                  {{ session['user']['college'] }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <input class="btn" type="submit" value="Submit" />
      </form>
      <div class="results-grid">
        <h1 class="text-center my-3 md">Trips Found</h1>
      {% if request.method == "POST" %}
        {% if user.get('car') == true %}
        <div class="card result">
          <h1><i class="fas fa-car"></i>   Your Car</h1>
          <h1>{{ user.get("start") }}  <i class="fas fa-arrow-circle-right"></i>  {{ user.get("end") }}</h1>
          <h1>Leaving on {{ user.get("date") }}</h1>
        </div>
        <hr style="border: 3px dashed #fff"; class="my-2">
        {% endif %}

        {% if similar_trips|length == 0 %}
          <h1 class="text-center my-2 md">No results found. Sorry!</h1>
          <img style="width: 200px; margin: 0 auto;" src="https://media.tenor.com/images/ce58ba39b66b5be181ab678d0b634743/tenor.gif" alt="" class="text-center">
        {% endif %}

        {% for trip in similar_trips %}
            {% if trip.get('car') %}
              <div class="card result grid">
                <div class="info">
                  <h1><i class="fas fa-car"></i>   {{ trip.get("first_name").capitalize() }} {{ trip.get("last_name").capitalize() }}'s Car</h1>
                  <h1>{{ trip.get("start") }}  <i class="fas fa-arrow-circle-right"></i>  {{ trip.get("end") }}</h1>
                  <h1>Leaving on {{ trip.get("date") }}</h1>
                </div>
                <div class="contact">
                  <h1>Contact {{ trip.get("first_name").capitalize() }} here</h1>
                  <h2><i class="fas fa-mobile"></i> {{ trip.get("tel") }}</h2>
                  <h2><i class="fas fa-envelope-square"></i> <a href="mailto:{{ trip.get("email") }}">{{ trip.get("email") }}</a></h2>
                </div>
              </div>
            {% endif %}
        {% endfor %}
      {% else %}
          <h1 class="text-center my-1">Please submit the form above to see the results.</h1>
          <div class="card result" style="width: 100%; height: 100px">
            <img src="../static/images/car.png" alt="">
          </div>
          <div class="card result" style="width: 100%; height: 100px">
            <img src="../static/images/car.png" alt="">
          </div>
          <div class="card result" style="width: 100%; height: 100px">
            <img src="../static/images/car.png" alt="">
          </div>

      {% endif %}

      </div>
    </div>
  </div>
</section>

{% endblock content %}
